html,body{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: black;
  font-family: arial,sans-serif;

}
.headertop {
  display: flex;
  justify-content: center;
  margin-top: 40px;

}
#navtop {
  width: 100%;
  margin-top: 40px;
}
/* pour suprimer l'espace entre les tabs du menu */
#navtop ul {
  font-size: 0px;
  margin: auto;
}
/* pour aligner les tabs sauf les sous menus*/
#navtop > ul > li {
  display: inline-block;
  cursor: pointer;
  font-size: 23px;
  width: 12.5%;
  text-align: center;
}
/* style de menu */
#navtop a {
  display: block;
  width: 100%;
  height: 23px;
  color: white;
  /*background-color: #08ABD3;*/
  text-align: center;
  text-decoration: none;
  padding-bottom: 10px;

}
/* style du menu on hover */
#navtop a:hover {
  color: gold;
  /*background-color: #000000;*/
}
/* pour faire disparaitre les sous menus */
#navtop li a + * {
  display: none;
  position:absolute;
  font-size: 20px;
  width: 12.5%;
}
/* pour faire apparaitre les sous menus en hover */
#navtop li a:hover + *{
  display: block;
  font-size: 20px;
  list-style-type: none;
}

#navtop li a + *:hover {
  display: block;
  /*background-color: #EC7505;*/
  list-style-type: none;
}
#navtop ul {
  padding: 0px;
}
/* menu milieu page home*/
#navhome {
  display: block;
  margin-top: 150px;
  text-align: center;

}

#navhome ul {
  padding: 0px;
}
#navhome ul li a img {
  width: 100%;
}

#navhome li {
  display: inline-block;
}

#navhome a {
  display: block;
}
/*placement  du header main page contenus*/
.hicon {
  display: flex;
  position: absolute;
  /*height: 0.5%;
  width: 70%;
  background-color: cornflowerblue;
  border: 1px solid gold;*/
  margin-top: 150px;
  left: 7%;
  padding: 0%;


}

/*placement de l'icone du header main designs*/
/*#squarehicon_dsgn {
  display: block;
  position: absolute;
  width: 35px;
  height: 37px;
  background-color: cornflowerblue;*/


  /* placement de l'icone du mid page header designs */

  #hicon_dsgn {

    display: block;
    position: absolute;
    color: white;
    /*background-color: cornflowerblue;*/
    font-size: 2.3em;
    margin-top: 14px;
    margin-bottom: 20px;
    padding: 0px;
    /*border-bottom: 8px solid cornflowerblue; option bordure bas */

  }

  #hicon_dsgn::first-letter {
    background-color: cornflowerblue;
    padding-left: 4px;
    padding-right: 4px;
  }

/* placement de l'icone du header artist*/

#hicon_artist1 {

  display: block;
  position: absolute;
  color: white;
  font-size: 2.3em;
  margin-top: 14px;
  margin-bottom: 20px;
  padding: 0px;

}

#hicon_artist1::first-letter {
  background-color: darkorchid;
  padding-left: 4px;
  padding-right: 4px;
}

#hicon_artist2 {

  display: block;
  position: relative;
  color: white;
  font-size: 2.3em;
  margin-top: 14px;
  margin-bottom: 20px;
  padding: 0px;
  left: 150px;

}

#hicon_artist2::first-letter {
  background-color: darkorchid;
  padding-left: 4px;
  padding-right: 4px;
}

.mainartist {
  display: flex;
  margin-top: 220px;
  left: 7%;
}

#imgartist {
  display: block;
  position: relative;
  border: 3px solid white;
  left: 7%;
  padding: 0%;

}
#bio {
  display: inline-block;
  position: relative;
  font-size: 1.3em;
  color: white;
  /*background-color: darkorchid;*/
  left: 9%;
  width: 50%;
  paddin: 0px;;
}

/* placement de l'icone du header videos */

#hicon_video {

  display: block;
  position: absolute;
  color: white;
  font-size: 2.3em;
  margin-top: 14px;
  margin-bottom: 20px;
  padding: 0px;

}

#hicon_video::first-letter {
  background-color: red;
  padding-left: 4px;
  padding-right: 4px;
}



/*placement des videos*/
#vid {
  display: flex;
  position: relative;
  margin-top:  200px;
}

#vid iframe {
  padding-top: 0.5em;
  margin-top:  10px;
}

#viddiv {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-wrap:wrap;
}


footer {
  display: flex;
  font-size: 23px;
  color: #222222;
  background-color: #111111;
  width: 100%;
  justify-content: center;
}
